@import "../abstracts/variables.scss";

@keyframes openNav {
  0% {
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
  }
  50% {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 75px;
    background-color: $mauve;
  }
  100% {
    width: 100%;
    background-color: $mauve;
  }
}
@keyframes openNav2 {
  0% {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 75px;
    background-color: $mauve;
  }
  100% {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $mauve;
  }
}

@keyframes closeNav {
  0% {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $mauve;
  }
  100% {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 75px;
    background-color: $mauve;
  }
}
@keyframes closeNav2 {
  0% {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 75px;
    background-color: $mauve;
  }
  100% {
    top: 0;
    left: 0;
    right: 0;
    width: 75px;
    height: 75px;
    background-color: transparent;
  }
}