@import "../abstracts/variables.scss";

body#error-page {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #000;
  flex-direction: column;
  h1, h2, h3, h4, h5, h6 { color: $safron; }
  .error {
    &-title {
      font-size: 10rem;
    }
    &-subtitle {
      color: $white;
      font-size: 1.25rem;
      max-width: 825px;
      text-align: center;
      margin-bottom: 3rem;
      font-weight: 100;
      button, a {
        background: transparent;
        color: $safron;
        border: none;
        text-decoration: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &-button {
      a {
        border: 1px solid $safron;
        padding: 10px 30px;
        text-decoration: none;
        color: $safron;
        transition: ease .3s all;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
          background-color: $safron;
          color: $black;
        }
      }
    }
  }
}