/* Colors */

// Main
$black:          #000         !default;
$white:          #fff         !default;
$gray:           #ccc         !default;

// Pallette
$blood:          #A3333D      !default;
$dark:           #1B1B1E      !default;