/* Colors */

// Main
$black:          #000         !default;
$white:          #fff         !default;
$gray:           #ccc         !default;

// Pallette
$safron:         #fac748      !default;
$dark:           #18281e      !default;
$mauve:          #E4C1F9      !default;

:root {
  
  --coredeiv-color-white:     #ffffff;
  --coredeiv-color-black:     #000000;
  --coredeiv-color-gray:      #cccccc;
  --coredeiv-color-safron:    #A3333D;
  --coredeiv-color-dark:      #18281e;
  
}